body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

#categorySelect {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

/* nomes destacados */
.destacado {
    font-weight: bold;
    color: rgb(0, 4, 255);
}

/* estilo para a tabela */
#dataTable tbody tr:nth-child(even) {
    background-color: #6759594e;
}